<div class="add_post_wrapper">
    <div class="add_post">
        <form action="/addpost" method="POST">
            <div class="add_post_cancel_button">
                <button class="add_post_cancel"><img src="./close.png" alt=""></button>
            </div>
            <div class="add_post_title">
                <h2>Create your post</h2>
            </div>
            <div class="add_post_input">
                <input type="text" name="title" class="add_post_theme"  placeholder="Your theme..." required>
                <textarea name="text" class="add_post_message" placeholder="Your message...." required></textarea>
            </div>
            <div class="add_post_confirm_button">
                <button class="add_post_confirm">Confirm</button>
            </div>   
        </form>
    </div>
</div>
<div class="settings_wrapper">
    <div class="settings_container">
        <div class="settings_top">
            <span class="settings_name">Settings</span>
            <button class="settings_cancel"><img src="./close.png" alt=""></button>
        </div>
        <div class="settings_buttons">
            <div class="edit_info_button">Edit account info</div>
            <div class="change_info_button">Change password</div>
        </div>
    </div>
</div>
<div class="edit_settings_wrapper">
    <div class="edit_settings_container">
        <form action="/editaccountinfo" method="POST" class="edit_settings_form">
            <div class="edit_settings_cancel_wrapper">
                <button class="edit_settings_cancel"><img src="./close.png" alt=""></button>
            </div>
            <div class="edit_settings_name">
                <h2 class="edit_settings_title">Edit info</h2>
            </div>
            <div class="edit_settings_input">
                <input type="text" placeholder="Type here your new name" class="edit_name_input" name="new_name" value={{name}} required>
                <input type="text" placeholder="Type here your new e-mail" class="edit_email_input" name="new_email" value={{email}} required>
            </div>
            <div class="edit_settings_confirm">
                <button class="edit_confirm_button">Confirm</button>
            </div>
        </form>
    </div>
</div>
<div class="change_settings_wrapper">
    <div class="change_settings_container">
        <form action="changepassword" method="POST" class="change_settings_form">
            <div class="change_settings_cancel_wrapper">
                <button class="change_settings_cancel"><img src="./close.png" alt=""></button>
            </div>
            <div class="change_settings_name">
                <h2 class="change_settings_title">Change password</h2>
            </div>
            <div class="change_settings_input">
                <input type="password" placeholder="Type here your new password" class="change_password_input" name="new_password" required>
                <input type="password" placeholder="Repeat here your password" class="change_repeat_input" name="new_password_repeat" required>
            </div>
            <div class="change_settings_confirm">
                <button class="change_confirm_button">Confirm</button>
            </div>
        </form>
    </div>
</div>
<div class="add_post_button">
    <img src="./add.png" alt="">
</div>
<div class="container">
    <div class="profile_wrapper">
        <div class="left_bar">
            <div class="avatar_wrapper">
                <hr class="deco_line">
                <h1>{{name}}</h1>
                <img src="./user.png" alt="">
            </div>
            <div class="stats_container">
                <div class="stats_title">
                    <div class="text_deco">
                    <span>S</span>tats
                    </div>
                </div>
                <div class="stats_wrapper">
                    <div class="place_wrapper">
                        <img src="./top-three.png" alt="">
                        <div class="top_number">
                            <h2>{{placement}}</h2>
                        </div>
                        <div class="top_message">
                            <span>TOP</span>
                        </div>
                    </div>
                    <div class="likes_wrapper">
                        <img src="./like.png" alt="">
                        <div class="likes_number">
                            <h2>{{likesCount}}</h2>
                        </div>
                        <div class="likes_message">
                            <span>LIKES</span>
                        </div>
                    </div>
                    <div class="posts_wrapper">
                        <img src="./pizza-slice.png" alt="">
                        <div class="posts_number">
                            <h2>{{pointsCount}}</h2>
                        </div>
                        <div class="posts_message">
                            <span>POINTS</span>
                        </div>
                    </div>
                    <div class="followers_wrapper">
                        <img src="./follower.png" alt="">
                        <div class="followers_number">
                            <h2>{{followers}}</h2>
                        </div>
                        <div class="followers_message">
                            <span>Followers</span>
                        </div>
                    </div>
                </div>
                </div>
                <div class="bar_buttons">
                    <form action="/logout" method="GET"><button class="exit_button">Log out</button></form>
                    <button class="settings_button">Settings</button>
                </div>
        </div>
        <div class="user_posts">
            <div class="title_wrapper">
                <div class="your_posts">
                    <span>Your posts</span>
                </div>
                <div class="edit_profile">
                    <span>Edit profile</span>
                </div>
            </div>
            <div class="posts tab_active">
                <div class="wrap">
                    {{#each posts}}
                    <div class="post">
                        <div class="post_text">
                            <h2 class="post_title">{{title}}</h2>
                            {{text}}
                        </div>
                        <div class="post_bottom">
                            <div class="like">
                                <form method="POST" action="/putlike" class="like_form"><img class="like_button" src="./like.png" alt="" /></form>
                                <span class="like_counter">0</span>
                            </div>
                            <div class="line_wrapper">
                                <div class="line_one"> </div>
                                <div class="line_two"> </div>
                            </div>
                            <img src="./more.png" alt="" class="more_button" />
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/user.js"></script>